
@{
    ViewData["Title"] = "Material Design";
}

<div class="col-md-offset-5">
    <my-app>
        <div class="loader"></div>
        <md-progress-spinner mode="indeterminate"></md-progress-spinner>
    </my-app>
</div>

